<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Belly Button Biodiversity</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>

  <div class="row"> 
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand">Belly Button Biodiversity | <small>Select sample number and interact with the charts below to explore the dataset</small></a>
        </div>
        <form class="navbar-search pull-right" style="padding: 15px">
          <text>Sample Number:        </text>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </form>
      </div>  
    </nav>
  </div>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-2">
        <div id="sample-metadata"></div>
      </div> 
      <div class="row justify-content-around">
        <div class="col-md-4">
          <div id="pie"></div>
        </div>
        <div class="col-md-5">
          <div id="gauge"></div>
        </div>
        <div class="col-md-9">
          <div id="bubble"></div>
        </div>
      </div> 
    </div>
  </div>  
      
      
      
      
<!--       
      <div class="col-md-2">  
        <div id="sample-metadata">
        </div> 
      </div>
      <div class="col-md-5">
        <div id="pie"></div>
      </div>
      <div class="col-md-5">
        <div id="gauge"></div>
      </div>
    </div>
    <!-- <div class="row"> -->
      <div class="col-md-10">
        <div id="bubble"></div>
      </div>
    <!-- </div> -->
  </div> -->

  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>
